{% extends 'pages/portal_home.html' %}
{% load static %}

{% block title %}
<title>My Classmates | {{ school_identity.name|default:"Portal" }}</title>
{% endblock title %}

{% block favicon %}
<link href="{% static 'pages/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'pages/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
<link href="{% static 'pages/css/style.css' %}" rel="stylesheet">
{% endblock favicon %}

{% block content_body %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Student</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">My Classmates</a></li>
            </ol>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title"><i class="fas fa-users me-2 text-primary"></i> Academic Cohort</h4>
                        <p class="mb-0 subtitle">
                            <strong>Dept:</strong> {{ department.name }} | 
                            <strong>Prog:</strong> {{ programme.name }} | 
                            <strong>Level:</strong> {{ level.name }}
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example3" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Matric Number</th>
                                        <th>Full Name</th>
                                        <th>Gender</th>
                                        <th>Programme</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if classmates %}
                                        {% for classmate in classmates %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td class="text-primary fw-bold">{{ classmate.matric_number }}</td>
                                            <td>{{ classmate.user.last_name|upper }}, {{ classmate.user.first_name }}</td>
                                            <td>{{ classmate.gender }}</td>
                                            <td><span class="badge badge-xs light badge-info">{{ classmate.programme.name }}</span></td>
                                            <td>
                                                <span class="badge badge-xs badge-success">Active</span>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="6" class="text-center py-4">
                                                <div class="text-muted">
                                                    <i class="fas fa-user-friends fa-3x mb-3 opacity-20"></i>
                                                    <p>No classmates found in your current Department and Level.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content_body %}

{% block scripts %}
<script src="{% static 'pages/vendor/global/global.min.js' %}"></script>
<script src="{% static 'pages/vendor/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'pages/vendor/apexchart/apexchart.js' %}"></script>

<script src="{% static 'pages/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'pages/js/plugins-init/datatables.init.js' %}"></script>

<script src="{% static 'pages/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>

<script src="{% static 'pages/js/custom.min.js' %}"></script>
<script src="{% static 'pages/js/dlabnav-init.js' %}"></script>
<script src="{% static 'pages/js/demo.js' %}"></script>
<script src="{% static 'pages/js/styleSwitcher.js' %}"></script>
{% endblock scripts %}