{% extends 'pages/portal_home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
	<!-- PAGE TITLE HERE -->
    {% block title %}
	<title>My Class Mates</title>
	{% endblock title %}
	
	<!-- FAVICONS ICON -->
    {% block favicon %}
    <!-- Datatable -->
    <link href="{% static 'pages/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <!-- Custom Stylesheet -->
	<link href="{% static 'pages/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'pages/css/style.css' %}" rel="stylesheet">
    {% endblock favicon %}

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
		
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		
		<!--**********************************
            Chat box End
        ***********************************-->

		
        <!--**********************************
            Header start
        ***********************************-->
       
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
      
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        {% block content_body %}
        <div class="content-body">
            <div class="container-fluid">				
				               
                <!-- row -->

                <div class="row">
                
					<div class="col-12">
                        <div class="card">
                            <!-- <div class="card-header">
                                <h4 class="card-title" style="color:green;">Students Profile Datatable </h4>
                            </div> -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="display" style="min-width: 845px">
                                        <thead>
                                            <th>S/N</th>
                                            <th>First name</th>
                                            <th>Last name </th>
                                            <th>Gender </th>
                                            <th>Phone </th>
                                            
                                        </thead>
                                
                                        <tbody>
                                                                    <div class="container">
                                <h3><i class="fas fa-users"></i> My Classmates in: <span style="color: brown;"> <small>{{ student.current_class.name }}</small></span></h3>

                                {% if student %}
                                    {% if standard %}               
                                        {% if classmates %}
                                            <!-- <h4>Classmates:</h4> -->
                                              {% for classmate in classmates %}
                                            <tr>                                               
                                                <td> {{ forloop.counter }}  </td>
                                                    <td> {{ classmate.last_name }}  </td>
                                                    <td>{{ classmate.first_name }}</td>
                                                    <td>{{ classmate.gender }}</td>
                                                    <td>{{ classmate.guardian_phone }}</td>                                                   
                                            </tr>
                                             {% endfor %}
                                        {% else %}
                                            <p class="no-classmates">No other classmates found in your classroom.</p>
                                        {% endif %}
                                    {% else %}
                                        <p class="no-classmates">You are not currently assigned to a classroom.</p>
                                    {% endif %}
                                {% else %}
                                    <p>No student profile found for your account. Please contact support.</p>
                                    <p><a href="{% url 'create_student_profile' %}">Create Student Profile</a></p> {# Example link to create profile #}
                                {% endif %}
                            </div>
                                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

				</div>
            </div>
        </div>
        {% endblock content_body %}
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
       
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    {% block scripts %}
    <script src="{% static 'pages/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'pages/vendor/chart.js/Chart.bundle.min.js' %}"></script>
	<!-- Apex Chart -->
	<script src="{% static 'pages/vendor/apexchart/apexchart.js' %}"></script>
	
    <!-- Datatable -->
    <script src="{% static 'pages/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'pages/js/plugins-init/datatables.init.js' %}"></script>

	<script src="{% static 'pages/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>

    <script src="{% static 'pages/js/custom.min.js' %}"></script>
	<script src="{% static 'pages/js/dlabnav-init.js' %}"></script>
	<script src="{% static 'pages/js/demo.js' %}"></script>
    <script src="{% static 'pages/js/styleSwitcher.js' %}"></script>
    {% endblock scripts %}
</body>
</html>