{% extends 'pages/portal_home.html' %}
{% load static %}

{% block title %}
<title>Hostel Allocation | Boarder List</title>
{% endblock title %}

{% block favicon %}
<link href="{% static 'pages/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'pages/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
<link href="{% static 'pages/css/style.css' %}" rel="stylesheet">
{% endblock favicon %}

{% block content_body %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Hostel Management</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Boarder List</a></li>
            </ol>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-0 pb-0">
                        <h4 class="card-title" style="color:#1e50b4;">
                            <i class="fas fa-hotel me-2"></i> Resident Students (Boarders)
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example3" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Image</th>
                                        <th>Matric No.</th>
                                        <th>Full Name</th>
                                        <th>Allocation Details</th>
                                        <th>Level</th>
                                        <th>Hostel Master</th>
                                        <th>Emergency Contact</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for s in boarder_students %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <img class="rounded-circle" width="35" height="35"
                                            src="{% if s.user.profile.image %}{{ s.user.profile.image.url }}{% else %}{% static 'pages/images/default_user.png' %}{% endif %}">
                                        </td>
                                        <td>
                                            <a href="{% url 'students:student-detail' s.matric_number %}" class="text-primary">
                                                <strong>{{ s.matric_number }}</strong>
                                            </a>
                                        </td>
                                        <td>{{ s.get_full_name|upper }}</td>
                                        <td>
                                            <div class="d-flex flex-column">
                                                <span class="badge light badge-primary mb-1">
                                                    <i class="fa fa-building me-1"></i> {{ s.hostel_name.name|default:"Unallocated" }}
                                                </span>
                                                <span class="text-muted small">
                                                    <i class="fa fa-door-open me-1"></i> Room: <strong>{{ s.assigned_room.room_number|default:"--" }}</strong>
                                                </span>
                                            </div>
                                        </td>
                                        <td>{{ s.level.name }}</td>
                                        <td>
                                            <span class="text-dark">
                                                    {% if s.hostel_name and s.hostel_name.hostel_master %}
                                                        {{ s.hostel_name.hostel_master.get_full_name }}
                                                    {% else %}
                                                        <span class="text-muted">Not Assigned</span>
                                                    {% endif %}      
                                                </span>
                                                </td>
                                        <td>
                                            <span class="d-block">{{ s.guardian_phone }}</span>
                                            <small class="text-muted">{{ s.guardian_name }}</small>
                                        </td>
                                        <td class="text-end">
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-primary light sharp" data-bs-toggle="dropdown">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="{% url 'students:student-detail' s.matric_number %}">
                                                        <i class="fa fa-eye text-primary me-2"></i> Profile
                                                    </a>
                                                    <a class="dropdown-item" href="{% url 'students:student-update' s.matric_number %}">
                                                        <i class="fa fa-bed text-warning me-2"></i> Reassign Room
                                                    </a>
                                                    <a class="dropdown-item text-danger" href="#">
                                                        <i class="fa fa-sign-out-alt me-2"></i> Check Out
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="9" class="text-center">No students currently assigned to hostels.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content_body %}

{% block scripts %}
<script src="{% static 'pages/vendor/global/global.min.js' %}"></script>
<script src="{% static 'pages/vendor/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'pages/vendor/apexchart/apexchart.js' %}"></script>

<script src="{% static 'pages/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'pages/js/plugins-init/datatables.init.js' %}"></script>

<script src="{% static 'pages/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>

<script src="{% static 'pages/js/custom.min.js' %}"></script>
<script src="{% static 'pages/js/dlabnav-init.js' %}"></script>
{% endblock scripts %}