{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}{% translate "Assign Fees to Students" %}{% endblock %}


{% block content %}
<div id="content-main">
    <p>{% translate "You are about to assign fees to the following students:" %}</p>
    <ul>
        {% for student in students %}
            <li>{{ student.first_name }} {{ student.last_name }} ({{ student.USN }}) {{ student.current_class }}</li>
        {% endfor %}
    </ul>
    
    <form action="" method="post">{% csrf_token %}
        <div class="module">
            <h2>{% translate "Fee Details" %}</h2>
            
            <input type="hidden" name="action" value="assign_fees_to_students">
            
            {# ✅ Render one hidden field per selected student ID #}
            {% for id in selected_ids %}
                <input type="hidden" name="{{ action_checkbox_name }}" value="{{ id }}">
            {% endfor %}
            
            <div class="form-row">
                {{ form.as_p }}
            </div>
        </div>

        <div class="submit-row">
            <input type="submit" name="apply" value="{% translate 'Assign Fees' %}" class="default">
        </div>
    </form>
</div>
{% endblock %}

