{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
<div id="site-name" style="display:flex; align-items:center;">
    {% comment %} <a href="{% url 'pages:portal-home' %}"  {% endcomment %}
    <a href="#" 
       target="_blank"
       style="text-decoration:none;">

        <span style="
            display:inline-block;
            font-weight:500;
            border-radius:30px;
            padding:6px 18px;
            background:white;
            color:#03142e;
            font-size:14px;
        ">
            <i class="fas fa-tachometer-alt" style="margin-right:6px;"></i>
            Go To System Dashboard
        </span>

    </a>
</div>
{% endblock branding %}


{% block extrahead %}
    {{ block.super }}

    <link rel="shortcut icon" href="{% static 'pages/images/favicon.png' %}" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <style>
        /* ===============================
           FULL HEIGHT ADMIN LAYOUT
        =============================== */
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        /* Admin container expands */
        #container {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        /* Main content should stretch */
        #content {
            flex: 1;
        }
    </style>
{% endblock %}


{% block userlinks %}
    {{ block.super }}
    {% include "admin/color_theme_toggle.html" %}
{% endblock %}
