{% extends 'pages/portal_home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
	<!-- PAGE TITLE HERE -->
    {% block title %}
	<title>Payment Chart</title>
	{% endblock title %}
	
	<!-- FAVICONS ICON -->
    {% block favicon %}
	<link rel="shortcut icon" type="image/png" href="{% static 'pages/images/favicon.png' %}" />
    <!-- Datatable -->
    <link href="{% static 'pages/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <!-- Custom Stylesheet -->
	<link href="{% static 'pages/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'pages/css/style.css' %}" rel="stylesheet">
    {% endblock favicon %}

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
		
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		
		<!--**********************************
            Chat box End
        ***********************************-->

		
        <!--**********************************
            Header start
        ***********************************-->
       
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
      
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        {% block content_body %}
        <div class="content-body">
            <div class="container-fluid">
				
		                <div class="row">
                
					<div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" style="color:green;">All Fees Schedule </h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>Payment Name</th>
                                                <th>Category</th>
                                                <th>Session</th>
                                                <th>Term</th>
                                                <th>Amount Due</th>
                                                                                            
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for p in payment_chart_list %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
												<td><strong>{{ p.fee_name}}</strong></td>
                                                <td>{{ p.payment_category.name}}</td>
                                                <td style="color:brown;">{{ p.session}}</td>
                                                <td>{{ p.term }}</td>
                                                <td><strong>N{{ p.amount_due }}</strong></td>                                               
                                              
                                                {% endfor %}
                                            </tr>
                                           
                                           
                                         
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



				</div>
            </div>
        </div>
        {% endblock content_body %}
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
       
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    {% block scripts %}
    <script src="{% static 'pages/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'pages/vendor/chart.js/Chart.bundle.min.js' %}"></script>
	<!-- Apex Chart -->
	<script src="{% static 'pages/vendor/apexchart/apexchart.js' %}"></script>
	
    <!-- Datatable -->
    <script src="{% static 'pages/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'pages/js/plugins-init/datatables.init.js' %}"></script>

	<script src="{% static 'pages/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>

    <script src="{% static 'pages/js/custom.min.js' %}"></script>
	<script src="{% static 'pages/js/dlabnav-init.js' %}"></script>
	<script src="{% static 'pages/js/demo.js' %}"></script>
    <script src="{% static 'pages/js/styleSwitcher.js' %}"></script>
    {% endblock scripts %}
</body>
</html>