{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en" class="h-100">


<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="KwikSchools: KwikSchools-School Mgt System" />
	<meta property="og:title" content="KwikSchools: KwikSchools-School Mgt System" />
	<meta property="og:description" content="KwikSchools : KwikSchools-School Mgt System" />
	<meta name="format-detection" content="telephone=no">

	<title>KwikSchools Login</title>

	<link rel="shortcut icon" type="image/png" href="{% static 'pages/images/favicon.png'%}" style="width: 30px; height: 30px;" />
    <link href="{% static 'pages/css/style.css' %}" rel="stylesheet">

    <style>
        .auth-footer {
            margin-top: 1.5rem;
            padding-top: 1rem;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 0.8rem;
            text-align: center;
            color: #6e6e6e;
        }
    </style>
</head>

{% block content %}
<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
                                        {% if school_info.logo %}
                                        <a href="https://kwikschools.com"><img src="{{ school_info.logo.url }}" alt="" style="width: auto; height: 80px;"></a>
                                        {% else %}
                                        <a href="https://kwikschools.com"><img src="{% static 'pages/images/kwikschool_logo.png' %}" alt="" style="width: auto; height: 100px;"></a>
                                        {% endif %}
									</div>
                                    <h4 class="text-center mb-4">LOGIN TO YOUR ACCOUNT </h4>
                                    <form  action ="" method="POST">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            {{ form|crispy }}
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block">Login To Your Account</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p class="mb-1 text-center">
                                            <span><a class="text-secondary" href="{% url 'password_reset' %}"> Forgot Password? Reset here</a></span>
                                        </p>
                                    </div>

                                    <footer class="auth-footer">
                                        <p class="mb-0">POWERED BY: <a href="https://kwikschools.com"> KwikSchools EdTech</a></p>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}

    {% block script %}
    <script src="{% static 'pages/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'pages/js/custom.min.js' %}"></script>
    <script src="{% static 'pages/js/dlabnav-init.js' %}"></script>
	<script src="{% static 'pages/js/styleSwitcher.js' %}"></script>
    {% endblock script %}
</body>
</html>