{% extends 'pages/portal_home.html' %}
{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="KwikSchools : KwikSchools" />
	<meta property="og:title" content="KwikSchools : KwikSchools" />
	<meta property="og:description" content="KwikSchools : KwikSchools" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
     {% block title %}
	<title>Help Center</title>
    {% endblock title %}
	
	<!-- FAVICONS ICON -->
     {% block favicon %}
	<link rel="shortcut icon" type="image/png" href="{% static 'pages/images/favicon.png' %}" />
	<link href="{% static 'pages/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'pages/css/style.css' %}" rel="stylesheet">
    {% endblock favicon %}

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		
		<!--**********************************
            Chat box End
        ***********************************-->

		
        <!--**********************************
            Header start
        ***********************************-->
        {% block sub-title%}
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href="javascript:void(0)" class="fs-14">Dashboard </a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)" class="fs-14">Help Center</a></li>
        </ol>
        {% endblock sub-title%}
                    
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        {% block content_body %}
        <div class="content-body">
            <!-- container starts -->
            <div class="container-fluid">
				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Help</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Center</a></li>
					</ol>
                </div>
                <!-- row -->
                <!-- Row starts -->
                <div class="row">
                    <!-- Column starts -->
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Student/Parent: FAQs</h4>
                                <p class="m-0 subtitle">What you need to know about The School Portal </p>
                            </div>
                            <div class="card-body">
                                <!-- Default accordion -->
                
								<div class="accordion accordion-primary" id="accordion-one">
								  <div class="accordion-item">
									<div class="accordion-header  rounded-lg" id="headingOne" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne"   aria-expanded="true" role="button">
										<span class="accordion-header-icon"></span>
									  <span class="accordion-header-text">How To Make Payments On The Portal?</span>
									  <span class="accordion-header-indicator"></span>
									</div>
									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-one">
									  <div class="accordion-body-text">
										 You have to make transfer to the school's designated account first, after this login to this portal and 
                     check the "Payments/Bills" Menu and select "Make Payments". Enter the neccessary information in the form and submit.
									  </div>
									</div>
								  </div>
								  <div class="accordion-item">
									<div class="accordion-header collapsed rounded-lg" id="headingTwo" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-controls="collapseTwo"   role="button" aria-expanded="true">
									  <span class="accordion-header-text">How Do I Check My Results?</span>
									 <span class="accordion-header-indicator"></span>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion-one">
									  <div class="accordion-body-text">
										 All your results are listed under the "Exams & Results" Menu. Select the appropriate menu to view your results (Termly & Session)
                      You can view/print and save to pdf format on your device.
									  </div>
									</div>
								  </div>
								  <div class="accordion-item">
									<div class="accordion-header collapsed rounded-lg" id="headingThree" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-controls="collapseThree"  role="button"  aria-expanded="true">
									  <span class="accordion-header-text">How Does The E-Learning Works?</span>
									  <span class="accordion-header-indicator"></span>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion-one">
									  <div class="accordion-body-text">
										 The e-learning tools allows you to explore lessons related to your class. Select e-learning center under "E-Learning"
                     and check your classes materials. You can make comments, ask questions and interact with your teacher on the e-learning platform.
									  </div>
									</div>
								  </div>
                  <div class="accordion-item">
                    <div class="accordion-header collapsed rounded-lg" id="headingThree" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-controls="collapseThree"  role="button"  aria-expanded="true">
                      <span class="accordion-header-text">How About CBT ?</span>
                      <span class="accordion-header-indicator"></span>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion-one">
                      <div class="accordion-body-text">
                       The portal users a third party CBT tools and your school will send you links whenever your need to take assessment test, exams or quizes.
                      </div>
                    </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header collapsed rounded-lg" id="headingTwo" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-controls="collapseTwo"   role="button" aria-expanded="true">
                        <span class="accordion-header-text">How Do I Update My Profile ?</span>
                       <span class="accordion-header-indicator"></span>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion-one">
                        <div class="accordion-body-text">
                         You can update basic information on your student portal. Use the "My Profile" Menu on the left side menu bar. Edit appropriately 
                        </div>
                      </div>
                      </div>
								</div>
                
                            </div>
                        </div>
                    </div>
                    <!-- Column ends -->
                    <!-- Column starts -->
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Teacher/Staff/Admin: FAQs</h4>
                                <p class="m-0 subtitle">All You Need To Know </p>
                            </div>
                            <div class="card-body">
                                
								<div class="accordion accordion-danger-solid" id="accordion-two">
								  <div class="accordion-item">
									<div class="accordion-header  rounded-lg" id="accord-2One" data-bs-toggle="collapse" data-bs-target="#collapse2One" aria-controls="collapse2One"   aria-expanded="true"  role="button">
									  <span class="accordion-header-text">Teacher's Role</span>
									  <span class="accordion-header-indicator"></span>
									</div>
									<div id="collapse2One" class="collapse accordion__body show" aria-labelledby="accord-2One" data-bs-parent="#accordion-two">
									  <div class="accordion-body-text">
                      Teachers are categorized as academic staff. Teacher has priviledge to access their student results and update same.
                      Teacher takes daily attendance and ensure all information about their students are correct.
									  </div>
									</div>
								  </div>
								  <div class="accordion-item">
									<div class="accordion-header collapsed rounded-lg" id="accord-2Two" data-bs-toggle="collapse" data-bs-target="#collapse2Two" aria-controls="collapse2Two"   aria-expanded="true"  role="button">
									  <span class="accordion-header-text">Staff Role</span>
									 <span class="accordion-header-indicator"></span>
									</div>
									<div id="collapse2Two" class="collapse accordion__body" aria-labelledby="accord-2Two" data-bs-parent="#accordion-two">
									  <div class="accordion-body-text">
                     Non-academic staff can login to the portal if given the priviledge to perform task. This category of staff has limited priviledge on the portal.
									  </div>
									</div>
								  </div>
								  <div class="accordion-item">
									<div class="accordion-header collapsed rounded-lg" id="accord-2Three" data-bs-toggle="collapse" data-bs-target="#collapse2Three" aria-controls="collapse2Three"   aria-expanded="true"  role="button">
									  <span class="accordion-header-text">Admin Role</span>
									 <span class="accordion-header-indicator"></span>
									</div>
									<div id="collapse2Three" class="collapse accordion__body" aria-labelledby="accord-2Three" data-bs-parent="#accordion-two">
									  <div class="accordion-body-text">
                      There are different Admin Roles as may be stipulated by the school. The admin officers assist in portal issues and 
                      can be contacted for help in regards to the portal issues.
									  </div>
									</div>
								  </div>
								</div>
                            </div>
                        </div>
                    </div>
                    <!-- Column ends -->
                    <!-- Column starts -->
                   
                    <!-- Column ends -->
                    <!-- Column starts -->
                    
                    <!-- Column ends -->
                    <!-- Column starts -->
                   
                    <!-- Column ends -->
                    <!-- Column starts -->
                   
                    <!-- Column ends -->
                    <!-- Column starts -->
                   
                    <!-- Column ends -->
                    <!-- Column starts -->
                   
                    <!-- Column ends -->
                    <!-- Column starts -->
                   
                    <!-- Column ends -->
                    <!-- Column starts -->
                  
                    <!-- Column ends -->
                    <!-- Column starts -->
                   
                    <!-- Column ends -->
                    <!-- Column starts -->
                   
                    <!-- Column ends -->
                </div>
                <!-- Row ends -->
            </div>
            <!-- container ends -->
        </div>
        {% endblock content_body %}
        <!--**********************************
                Content body end
            ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
  
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    {% block script %}
    <script src="{% static 'pages/vendor/global/global.min.js' %}"></script>
	<script src="{% static 'pages/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>

    <script src="{% static 'pages/js/custom.min.js ' %}"></script>
	<script src="{% static 'pages/js/dlabnav-init.js' %}"></script>
	<script src="{% static 'pages/js/demo.js' %}"></script>
    <script src="{% static 'pages/js/styleSwitcher.js' %}"></script>
    {% endblock script %}
</body>
</html>