{% extends 'pages/portal_home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
	<!-- PAGE TITLE HERE -->
    {% block title %}
	<title>Phone List</title>
	{% endblock title %}
	
	<!-- FAVICONS ICON -->
    {% block favicon %}
	<link rel="shortcut icon" type="image/png" href="{% static 'pages/images/favicon.png' %}" />
    <!-- Datatable -->
    <link href="{% static 'pages/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <!-- Custom Stylesheet -->
	<link href="{% static 'pages/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'pages/css/style.css' %}" rel="stylesheet">
    {% endblock favicon %}

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
		
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		
		<!--**********************************
            Chat box End
        ***********************************-->

		
        <!--**********************************
            Header start
        ***********************************-->
       
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
      
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        {% block content_body %}
        <div class="content-body">
            <div class="container-fluid">
				                
                <!-- row -->

                <div class="row">
                
					<div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" style="color:green;">Students Phone List </h4>
                                <a href="{% url 'pages:students_phone_list' %}?export=csv" class="btn btn-success">
                                 <i class="fas fa-file-download me-2"></i>Export CSV
                                    </a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>Student Name</th>
                                                <th>Student Phone</th>
                                                <th>Guardian Name</th>
                                                <th>Guardian Phone</th>
                                                
                                                                                            
                                            </tr>
                                        </thead>
                                        <tbody>
                                           {% for student in students %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ student.get_full_name }} - {{ student.current_class }} <strong></td>
                                                <td> <a href="tel:{{ student.user.profile.phone }}" class="text-decoration-none">
                                                    {{ student.user.profile.phone }}
                                                    </a></td>
                                                <td>{% if student.guardian_name %} {{ student.guardian_name }} {% else %} Not Updated Yet {% endif %}</td>
                                                <td> {{ student.guardian_phone }}</td>
                                                
                                                                                          
												</td>
                                               
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="4" class="text-center text-muted">No students found.</td>
                                            </tr>
                                            {% endfor %}                                                           
                                           
                                         
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



				</div>
            </div>
        </div>
        {% endblock content_body %}
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
       
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    {% block scripts %}
    <script src="{% static 'pages/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'pages/vendor/chart.js/Chart.bundle.min.js' %}"></script>
	<!-- Apex Chart -->
	<script src="{% static 'pages/vendor/apexchart/apexchart.js' %}"></script>
	
    <!-- Datatable -->
    <script src="{% static 'pages/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'pages/js/plugins-init/datatables.init.js' %}"></script>

	<script src="{% static 'pages/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>

    <script src="{% static 'pages/js/custom.min.js' %}"></script>
	<script src="{% static 'pages/js/dlabnav-init.js' %}"></script>
	<script src="{% static 'pages/js/demo.js' %}"></script>
    <script src="{% static 'pages/js/styleSwitcher.js' %}"></script>
    {% endblock scripts %}
</body>
</html>