{% extends 'pages/portal_home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="KwikSchools : School Management System" />
	<meta property="og:title" content="KwikSchools : School Management System" />
	<meta property="og:description" content="KwikSchools : School Management System" />
	<meta property="og:image" content="https://travl.dexignlab.com/xhtml/social-image.png" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
    {% block title %}
	<title>Contact Support</title>
    {% endblock title %}
	
	{% block favicon %}
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="{% static 'pages/images/favicon.png' %}" />
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static 'pages/vendor/chartist/css/chartist.min.css' %}">
	
    	<link href="{% static 'pages/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
		<link href="{% static 'pages/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'pages/css/style.css' %}" rel="stylesheet">
    {% endblock favicon %}
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		
		<!--**********************************
            Chat box End
        ***********************************-->
			
        <!--**********************************
            Header start
        ***********************************-->
                         
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        {% block content_body %}
        <div class="content-body">
            <div class="container-fluid">
				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Contact Support </a></li>
						<!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Statistics</a></li> -->
					</ol>
                </div>
                <!-- row -->
                <div class="row">
					<div class="col-xl-4 col-xxl-6 col-lg-6">
                        <div class="card">
                            <div class="card-header border-0 pb-0">
                                <h4 class="card-title">The School Support Contact</h4>
                            </div>
                            <div class="card-body">
                                <div id="DZ_W_TimeLine" class="widget-timeline dlab-scroll height570">
                                    {% for s in school_contact %}
                                    <ul class="timeline">
                                        
                                        <li>
                                           <div class="timeline-badge primary"></div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>School Full Name</span>
                                                <h6 class="mb-0">{{ s.name }} <strong class="text-primary">#</strong>.</h6>
                                                <p class="mb-0"> School's Name
                                                </p>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge info">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>School's Phones</span>
                                                <h6 class="mb-0">Phone 1: (+234) {{ s.phone1 }} <strong class="text-info"><br> Phone 2: (+234) {{s.phone2}}</strong></h6>
											
                                            </a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge danger">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>School's EMAIL</span>
                                                <h6 class="mb-0">{{ s.email }} <strong class="text-warning"></strong></h6>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge success">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>School's Physical Address</span>
                                                <h6 class="mb-0">{{ s.address_line_1 }} </h6>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge warning">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>School's Address 2</span>
                                                <h6 class="mb-0">{{ s.address_line_2 }}</h6>
                                            </a>
                                        </li>
                                                                                                                 
                                    </ul>
                                    {% endfor %}   
                                </div>
                            </div>
                        </div>
					</div>
					<div class="col-xl-4 col-xxl-6 col-lg-6">
                        <div class="card">
                            <div class="card-header border-0 pb-0">
                                <h4 class="card-title">KwikSchools Support Center</h4>
                            </div>
                            <div class="card-body">
                                <div id="DZ_W_TimeLine11" class="widget-timeline dlab-scroll style-1 height570">
                                    <ul class="timeline">
                                        <li>
                                            <div class="timeline-badge primary"></div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>Contact via mails</span>
                                                <h6 class="mb-0">Email: kwikschools@gmail.com <strong class="text-primary">24/7</strong>.</h6>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge info">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>Contact via Phone/WhatsApp</span>
                                                <h6 class="mb-0">+234 8050757634 <strong class="text-info">Work Hours.</strong></h6>
												<p class="mb-0">You can send text messages or drop a WhatsApp chat. Direct phone calls only during working hours</p>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge danger">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>Social Media Connect</span>
                                                <h6 class="mb-0">FACEBOOK, INSTAGRAM, X, YOUTUBE, TIKTOK <strong class="text-warning">@kwikschools, or @kwikschools</strong></h6>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="timeline-badge success">
                                            </div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>Visit our website</span>
                                                <h6 class="mb-0">https://kwikschools.com </h6>
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
					</div>					
						
                </div>
            </div>
        </div>
        {% endblock content_body %}
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
       
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
     {% block script %}
    <script src="{% static 'pages/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'pages/vendor/chart.js/Chart.bundle.min.js' %}"></script>
	<!-- Apex Chart -->
	<script src="{% static 'pages/vendor/apexchart/apexchart.js' %}"></script>
	
	<!-- Chartist -->
    <script src="{% static 'pages/vendor/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static 'pages/vendor/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>
    
	<!-- Flot -->
    <script src="{% static 'pages/vendor/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'pages/vendor/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'pages/vendor/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'pages/vendor/flot-spline/jquery.flot.spline.min.js' %}"></script>
	
	<!-- Chart sparkline plugin files -->
    <script src="{% static 'pages/vendor/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
	<script src="{% static 'pages/js/plugins-init/sparkline-init.js' %}"></script>
	
	<!-- Chart piety plugin files -->
    <script src="{% static 'pages/vendor/peity/jquery.peity.min.js' %}"></script>
	<script src="{% static 'pages/js/plugins-init/piety-init.js' %}"></script>
	
    <!-- Init file -->
    <script src="{% static 'pages/js/plugins-init/widgets-script-init.js' %}"></script>

	<script src="{% static 'pages/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
	
    <script src="{% static 'pages/js/custom.min.js' %}"></script>
	<script src="{% static 'pages/js/dlabnav-init.js' %}"></script>
	<script src="{% static 'pages/js/demo.js' %}"></script>
    <script src="{% static 'pages/js/styleSwitcher.js' %}"></script>
    
    {% endblock script %}
</body>
</html>